/*
*{
    border: green solid;
}*/

body {
    font-size: 18px;
    margin: 0;
}


header {
    background-color: #5e3d37;
    display: grid;
    place-items: center;
    grid-template-columns: minmax(150px, 25%) 1fr;
    gap: 20px;
    color: white;
    grid-template-areas: "image title";
}

header h1 {
    font-family: 'Merriweather', serif;
    margin-left: 15%;
    margin-right: 45%;
}

h2 {
    margin-bottom: 0;
}

/*this is or the line*/
hr {
    height: 1px;
    background-color: #5e3d37;
    margin-top: 0;
}

h2,
hr {
    width: 90%;
    text-align: center;
}

h3 {
    background-color: #5e3d37;
    color: white;
    grid-row: 2/3;
    margin-top: 0;
    padding: 10px;
}
.cityName{
    font-weight:bolder ;
    font-size: x-large;
}
.mapTitle{
    background-color: #5e3d37;
    color: white;
    grid-row: 2/3;
    margin-top: 0;
    padding: 10px;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

}

main section ul {
    text-align: left;
    list-style: none;
    padding-left: 1%;
    /* Elimina el padding predeterminado de la lista */
}

.card {
    border-width: 2px;
    border-style: solid;
    border-color: #29252d;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    

}

.card2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    font-size: 20px;
    font-weight: bolder;
}

.card iframe {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;

}

footer {
    text-align: center;
    background-color: #5e3d37;
    padding: 10px;
    color: white;
    margin-top: 2%;
}

.brazilFlag {
    width: 50px;
    vertical-align: middle;
}

.color_link {
    color: aliceblue;
    text-decoration: none;
    /*Remove the decoration*/
}

.image_small {
    width: 150px;
    height: 150px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 75%;
}

/*For the weather*/
.weatherContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.weather-info img {
    margin-right: 10px;
    max-height: 100px;
    vertical-align: middle;
    
}

.weather-info span {
    
    vertical-align: middle;

}


ul li {
    padding-bottom: 5px;
    padding-top: 5px;
}

@media screen and (min-width: 641px) {

    header h1 {
        font-family: 'Merriweather', serif;

    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 8px;
    }

    main section {
        margin-bottom: 20px;
    }

    main section ul {

        list-style: none;
    }

    main h2,
    main hr {
        grid-column: 1 / 3;
        margin-bottom: 0;

    }

    /*this is to use the mal in all the screen*/
    main section:nth-child(5) {
        grid-column: span 2;
        margin-bottom: 5%;
    }
}