/*
*{
    border: green solid;
}
*/


nav{
    display:grid ;
    background-color:#29252d ;
    
    font-size: 26px;
}

nav ul  {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 0px; /* Ajusta el valor según sea necesario para el espacio deseado */
    margin-top: 0px;
    list-style: none;   
}

.navigation  a {
	padding: 1rem;
}
.navigation  a:hover{
	background-color: rgb(58, 63, 68);
}
/*para ocular la linea blanca que sale */
#menu {
    border: none;
    padding: 0;
}


/*pantalla de celular*/
@media screen and (max-width: 640px) {

    #menu {
        font-size: 2.5rem;
        padding: 3px 7px 6px;
        position: absolute;
		background-color: transparent;
        top: 1rem;
        right: 1rem;
    }

    .navigation  {
        display: none;  
    }
    #menu::before {
        content: "☰";

    }
    #menu.open::before {
        content: "X";

    }
    .open  {
        display: block;
    }
    .open  a {
        display: flex;
        justify-content: center;
        margin-left: -10%;
    }


}